.accordian-main {
    cursor: pointer;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    color: aliceblue;
  }

  .card{
    background-color: rgba(62, 62, 223, 0.5) !important;
 
  }
  
  .list-styles {
    list-style-type: circle;
  }
  
  .image-style1 {
    width: 3em;
  }

  .marker{
    background-color: rgba(62, 62, 223) !important;
    border: rgba(62, 62, 223) !important;
  }

  .date{
    background-color: transparent !important;
    color: aliceblue !important;
  }

  
  .timeline::after {
    background-color: rgba(62, 62, 223, 0.5) !important;
}

.ctlkmo.ctlkmo{
  color: aliceblue !important;
}

.ctlkmo.ctlkmo .url-button{
  background-color: transparent !important;
}

.accordion>.card>.card-header {

  background-color: rgb(108, 108, 228) !important;
}