.accordian-main {
    cursor: pointer;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    color: aliceblue;
  }

  .card{
    background-color: rgba(100, 100, 190, 0.28) !important;
 
  }
  
  .list-styles {
    list-style-type: circle;
  }
  
  .image-style1 {
    width: 3em;
  }

  .marker{
    background-color: rgb(134, 134, 211) !important;
    border: rgb(134, 134, 211) !important;
  }

  .date{
    background-color: transparent !important;
    color: aliceblue !important;
  }

  
  .timeline::after {
    background-color: rgb(134, 134, 211) !important;
}

.ctlkmo.ctlkmo{
  color: aliceblue !important;
}

.ctlkmo.ctlkmo .url-button{
  background-color: transparent !important;
}

.accordion>.card>.card-header {

  background-color: rgb(134, 134, 211) !important;
}

.gtNHHC.gtNHHC .url-button{
  background-color: transparent;
}