.about {
    background-color: transparent;
    font-size: 1.1em;
    color: aliceblue;
  }
  
  .profile {
    max-width: 18em;
    background-color: transparent;
    border-color: transparent;
  }
  
  .my-details {
    background-color: rgba(100, 100, 190, 0.28);
  }

  .font-details {
    font-size: 3em;
    color:rgba(84, 186, 226, 0.4) !important;
  }
  .abt{
    text-align: center;
    font-size: 3em;
  }
  

  .card{
    background-color: transparent;
  }
  
 