.img-resize {
    width: 10em;
  }
  
  .style {
    font-size: 20px;
    color:aliceblue;
  }
  
  .jumbo-style {
    background-color: transparent;
  }
  .jumbotron {
    margin-top: -50px;
 }
  .body-title-style {
    font-size: 25px;
    font-weight: 800;
  }

  .card{
    background-color: transparent;
    color: aliceblue;
  }

  .card-title {
    color: aliceblue !important;
    
  }